parameters:
    level: 3
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes

includes:
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
    - vendor/larastan/larastan/extension.neon
